<!-- resultado.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Consulta</title>
</head>
<body>
    <h1>Resultado da Consulta</h1>
    {% if cidade %}
        <p>A cidade correspondente ao CEP é: {{ cidade }}</p>
    {% else %}
        <p>CEP não encontrado</p>
    {% endif %}
</body>
</html>
